<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Change</title>
    <style>
    	img#myImg {
    		/* 인라인 태그인데 사이즈의 설정 가능한 이유 : div라는 테두리가 있기 때문이다. */
    		height: 600px;
		}
    	
    </style>
    <script src="js/jsforimage.js"></script>
</head>
<body>
    <div>
        <img id="myImg" src="img/mokoko01.jpg" alt="모코코 사진"><br>
        <input id="btn" type="button" value="멈추기">
    </div>
</body>
</html>