<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/shoplist.css">

<script type="text/javascript">
function itemDetail(n){
	let p_num = document.getElementById('p_num');
	let form = document.getElementById('detailForm');
	
	p_num.value = n;
	form.submit();
}
</script>

</head>
<body>
<div class="shopContainer">
	<h1>쿠팡</h1>
	
	<!-- 상세정보 표기하기 위한 폼 -->
	<form th:action="@{/detail}" method="post" id="detailForm">
		<input type="hidden" name="p_num" value="0" id="p_num">
	</form>
	
	<table>
		<tr>
			<th>제품번호</th>
			<th>이름</th>
			<th>남은 수량</th>
			<th>가격</th>
			<th>주문</th>
		</tr>
		<tr th:each="item:${list}">
			<td th:text="${item.p_num}">제품번호</td>
			<td th:text="${item.p_name}">제품이름</td>
			<td th:text="${item.amount}">제품재고</td>
			<td th:text="${item.price}">제품가격</td>
			<td><input type="button" value="상세보기" th:num="${item.p_num}" onclick="itemDetail(this.getAttribute('num'))"></td>
		</tr>
	</table>
	
	<hr>
	<div class="button">
	<input type="button" value="홈화면" th:onclick="|location.href='@{/}'|">
	</div>
</div>
</body>
</html>