<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div class="container">
		<h1>[ Spring 2 - 서버와 값 주고 받기 ]</h1>
		<ul>
			<li>[ Get Method ]</li>
			<li><a href="param/param1">GET method parameter1 전달하기</a></li>
			<li><a href="param/param2">POST method parameter 전달하기</a></li>
			<li><a href="param/param3">GET method로 객체 전달하기</a></li>
			<li><a href="param/param4?name=abc&age=10">GET method로 객체 전달하기(form 없이)</a></li>
		</ul>
			<hr>
		<ul>
			<li>[ Post Method ]</li>
			<li><a href="model/model1">Model 사용하기</a></li>  <!-- 일시적 -->
			<li><a href="ss/session1">Session에 저장</a></li> <!-- 지속적 ex)로그인 정보 등 -->
			<li><a href="ss/session2">Session에서 읽기</a></li>
			<li><a href="ss/session3">Session에서 삭제</a></li>
			<li><a href="ss/session4">Session에 "id"값이 있는 경우에만 접속 가능</a></li>
		</ul>
			<hr>
		<ul>
			<li>[ Cookie 사용하기 ]</li>
			<li><a href="ck/cookie1">쿠키 저장</a></li>
			<li><a href="ck/cookie2">쿠키 삭제</a></li>
			<li><a href="ck/cookie3">쿠키 읽기</a></li>
		</ul>
			<hr>
		<ul>
			<li>[ lombok 사용하기 ]</li>
			<li><a href="log/lombok">Lombok 사용</a></li>
			<li><a href="log/logger">Logger 사용</a></li>
		</ul>
			<hr>
		
		<ul>
			<li>[ Thyme leaf 사용하기 ]</li>
			<li><a href="th/thymeleaf1">타임리프 문법 1</a></li>
			<li><a href="th/thymeleaf2">타임리프 문법 2</a></li>
		</ul>
			<hr>	
		
		<ul>
			<li>[ 연습 문제 ]</li>
			<li><a href="ex/calc">[예제1] 계산</a></li>
			<li><a href="ex/info">[예제2] 개인정보입력</a></li>
			<li><a href="ex/cookie">방문 횟수 카운트</a></li>
		</ul>
		
	</div>
</body>
</html>