@charset "UTF-8";

div.title {
	width: 800px;
	margin: 0 auto;
	text-align: center;
	border: 1px dashed black;
}

div.tableContainer{
	width: 800px;
	margin: 0 auto;
	border: 1px dashed black;
}

/* 댓글 입력란 */
div.inputReply{
	margin: 10px auto 10px 150px;
	width: 600px;
}

/* 글 본문 테이블 */
table.board{
	margin: 10px auto 10px auto;
	width: 700px;
}

/* 댓글 테이블 */
table.reply{
	margin: 10px auto 10px auto;
	width: 700px;
}

th {
	width: 100px;
	background-color: lightgray;
}

td {
	padding: 15px 0 15px 0;
}

/* 글 삭제, 글 수정버튼 */
td.buttons{
	text-align: center;
}
/* 글 본문의 제목 */
td.tdtitle{
	font-weight: bold;
}

/* 댓글 삭제, 수정 버튼 위치 */
td.rpbuttons{
	width: 130px;
}

input[type="button"], input[type="submit"]{
	height:30px;
	width: 80px;
	color: white;
	background-color: black; 
	border: none;
	border-radius: 10rem;
	font-weight: 700;
}

input[type="text"]{
	width: 400px;
	margin: 0 0 0 20px;
}

input[type="button"]:hover, input[type="submit"]:hover{
	color: black;
	background-color: gray; 
}
/* 댓글 시간 사이즈 */
span{
	font-weight: bold;
	font-size: 12px;
}
/* 댓글 삭제, 수정버튼의 크기 */
input.replybutton{
	height: 20px;
	width: 60px;
}
input.replybutton:hover{
	color: black;
	background-color: gray; 
}

div.quickMenu {
	border: 1px dashed black;
	text-align: center;
	width: 150px;
	height: 200px;
	background-color: lightgray;
   	position: fixed; /* 기준점 : 전체 모니터를 기준으로 해당 위치에 고정시킴. ==> 스크롤해도 그 위치로 따라온다. */
    bottom: 400px;
    right: 100px;
}