@charset "UTF-8";
div.container{
	width: 800px;
	margin: 0 auto;
	text-align: center;
}

ul{
	width: 200px;
	margin: 0 auto;
	padding: 0;
}

li{
	width: 200px;
	height: 40px;
	border: 1px dashed gray;
	padding: 12px 0 0 0;
	display: inline-block;
	margin: 12px 0 0 0;
}
li:hover{
	background-color: gray;
}

a{	
	color: black;
	font-weight: bolder;
	margin: 0 auto;
	text-decoration: none;
}