@charset "UTF-8";
div.detailsContainer > table {
	width : 320px;
	height : 200px;
	text-align: center;
	box-shadow: 2px 2px 5px gray;
	border : 1px dashed gray;
}

div.button {
	width: 310px;
	text-align: center;
}

th {
	background-color: skyblue;
	border : 1px dashed gray;
}

td {
	border : 1px dashed gray;
}