<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Spring spring spring me!</title>
<link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="container">
	<h1> [ SpringWeb5 ] </h1>
	
	<hr>
	                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
	<h2>[ 홈화면 ]</h2>
	<ul>
		<li sec:authorize="not isAuthenticated()"><a th:href="@{/member/join}">회원가입</a></li>
		<li sec:authorize="not isAuthenticated()"><a th:href="@{/member/loginForm}">로그인</a></li>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">로그아웃</a></li>
		<li sec:authorize="isAuthenticated()"><a th:href="@{/member/mypage}">개인정보 수정</a></li>
		<li><a th:href="@{/board/list}">게시판</a></li>
		<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin}">관리자 페이지</a></li>
	</ul>
	<div sec:authorize="isAuthenticated()">
		<!-- <p sec:authentication="principal"></p> -->
		<p sec:authentication="name"></p>
		<p sec:authorize="hasRole('USER')">[일반 사용자]</p>
		<p sec:authorize="hasRole('ADMIN')">[관리자]</p>
		<!-- <p sec:authentication="principal.authorities"></p> -->
	</div>
	<div sec:authorize="not isAuthenticated()">로그인 안함.</div>
</div>
</body>
</html>