<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- net.softsociety.spring4.dao패키지의 GuestbookDAO인터페이스와 매핑됨 -->
<mapper namespace="net.softsociety.spring4.dao.GuestbookDAO">
	<insert id="writeGuestbook" parameterType="Guestbook">
		INSERT INTO GUESTBOOK(
			NUM, NAME, PASSWORD, MESSAGE
		)
		VALUES(
			GUESTBOOK_SEQ.NEXTVAL, #{name}, #{password}, #{message}
		)
	</insert>
	
	<select id="selectAll" resultType="Guestbook">
		SELECT * FROM GUESTBOOK
	</select>
	
	<delete id="deleteGuestbook" parameterType="Guestbook">
		DELETE FROM GUESTBOOK WHERE NUM=#{num} AND PASSWORD=#{password}
	</delete>
</mapper>